.btn-custom{
	color: #fff;
	background-color: #363631f2;
	border-color: #ffffff;
}

.c_a{
	padding: 80px 0;

}
.c_p{
	padding: 80px 0;
}
.c_m{
   margin: 80px 0;	
}
.c_p-custom{
	
	border: 2px solid #ddd;
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}






















]